<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ARM - Remote system</title>
    <link rel="stylesheet" href="Styles/Main.css">
    <script src="./Scripts/Main.js" defer></script>
</head>

<body>
    <label for="video-min-width">Минимильная ширина:</label>
    <input id="video-min-width" type="text" value="800" />

    <label for="video-max-width">Максимальная ширина:</label>
    <input id="video-max-width" type="text" value="1920" />

    <label for="video-min-height">Минимильная высота:</label>
    <input id="video-min-height" type="text" value="600" />

    <label for="video-max-height">Максимальная высота:</label>
    <input id="video-max-height" type="text" value="1080" />

    <label for="user-id"></label>
    <input id="user-id" type="text" />

    <label for="client-id"></label>
    <input id="client-id" type="text" />

    <button id="register-button">Регистрация</button>
    <button id="connect-button">Подключить</button>

    <video autoplay></video>
</body>

</html>